{% load static %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 40vh;">
      <div class="carousel-item h-100 active">
        <img src="{% static '' %}img/iwood-R5v8Xtc0ecg-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block great">
            <h5 class="uus">Rooms</h5>
            <p class="fredus"><span class="gree">Home/ </span> <span>Rooms</span></p>
        </div>
      </div>
    </div>
  </div>