
{% load static %}
<div id="carouselExampleDark" class="carousel  slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 80vh;">
      <div class="carousel-item h-100 active" data-bs-interval="10000">
        <img src="{% static '' %}img/cory-bjork-D1yT791Nf9A-unsplash.jpg" class="d-block  w-100 h-100" alt="...">
        <div class="carousel-caption d-md-block zone" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="3000">
          <h5 class="vent"><span class="jemm">Zhara Hotels </span> <span class="jem"> & Suites</span></h5>
          <p class="bradds"><em>.....your satisfaction is our priority...</em></p>
        </div>
      </div>
      <div class="carousel-item h-100" data-bs-interval="2000">
        <img src="{% static '' %}img/kelsey-curtis--27u_GzlAFw-unsplash.jpg" class="d-block  w-100 h-100" alt="...">
        <div class="carousel-caption d-md-block zone" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="3000">
          <h5 class="vent"><span class="jemm">Zhara's </span> <span class="jem"> Garden</span></h5>
          <p class="bradds"><em>..we love all our esteemed customers....</em></p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="{% static '' %}img/qui-nguyen-giL2fHNr3Lc-unsplash.jpg" class="d-block  w-100 h-100" alt="...">
        <div class="carousel-caption d-md-block zone" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="3000">
          <h5 class="vent"><span class="jemm">Zhara's </span> <span class="jem"> Satisfaction</span></h5>
          <p class="bradds"><em>...you're always welcome to stay with us....</em></p>
        </div>
      </div>
    </div>
  </div>