
{% load static %}
<div class="dining">
    <div class="container-fluid pt-5 pb-5 gy-5">
      <div class="both">
        <h2 class="wel" data-aos="fade-up" data-aos-duration="3000"><span class="jem">our</span> <span class="jemm">dinner</span></h2>
        <h6 class="horizon"></h6>
      </div>
        <div class="row justify-content-center">
          <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-3 mb-3" data-aos="zoom-in" data-aos-duration="3000">
            <div class="card lamb">
              <img src="{% static '' %}img/jay-wennington-N_Y88TWmGwA-unsplash.jpg" class="card-img-top w-100 imggg" alt="...">
              <div class="card-body imgtxt">
                <h5 class="card-title badd">THE SKY RESTAURANT</h5>
                <p class="card-text baddd">Situated at the tallest Penthouse of Zharah Hotel, the Sky Restaurant has a 'wow' factor that is hard to dispute.</p>
                <a href="#" class="btn fave">view more...</a>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-3 mb-3" data-aos="zoom-in" data-aos-duration="3000">
            <div class="card lamb">
              <img src="{% static '' %}img/siamak-YduJNHSnJUU-unsplash.jpg" class="card-img-top w-100 imggg" alt="...">
              <div class="card-body imgtxt">
                <h5 class="card-title badd">69 RESTAURANT</h5>
                <p class="card-text baddd">The 69 Restaurant is an infusion of afro-centric food culture. The Sky Restaurant factor that is hard to dispute</p>
                <a href="#" class="btn fave">view more...</a>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-3 mb-3" data-aos="zoom-in" data-aos-duration="3000">
            <div class="card lamb">
              <img src="{% static '' %}img/mohau-mannathoko-upvUrxqrmro-unsplash.jpg" class="card-img-top w-100 imggg" alt="...">
              <div class="card-body imgtxt">
                <h5 class="card-title badd">LAG GREECE</h5>
                <p class="card-text baddd">Located by the swimming pool, the Lag Greece Restaurant is loved by those who know Lagos and appreciate nicely.</p>
                <a href="#" class="btn fave">view more...</a>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 d-none d-xl-block text-uppercase gege spel">Dinner</div>
          <div class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 d-none d-xl-block text-uppercase gege spell">Zharah's</div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-3" data-aos="zoom-in" data-aos-duration="3000">
            <div class="card lamb">
              <img src="{% static '' %}img/kelsey-knight-udj2tD3WKsY-unsplash.jpg" class="card-img-top w-100 imggg" alt="...">
              <div class="card-body imgtxt">
                <h5 class="card-title badd">JEFFERSON BAR</h5>
                <p class="card-text baddd">While watching a game on one of Kuramo Sports Café’s huge plasma screens, you can enjoy the best buffet in Lagos!.</p>
                <a href="#" class="btn fave">view more...</a>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-3" data-aos="zoom-in" data-aos-duration="3000">
            <div class="card lamb">
              <img src="{% static '' %}img/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg" class="card-img-top w-100 imggg" alt="...">
              <div class="card-body imgtxt">
                <h5 class="card-title badd">FRENCH PUB</h5>
                <p class="card-text baddd">French Pub is a charming wooden traditional pub with live music and an outdoor patio an outdoor patio.</p>
                <a href="#" class="btn fave">view more...</a>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-3" data-aos="zoom-in" data-aos-duration="3000">
            <div class="card lamb">
              <img src="{% static '' %}img/krakenimages-7BpuzmcxlHU-unsplash.jpg" class="card-img-top w-100 imggg" alt="...">
              <div class="card-body imgtxt">
                <h5 class="card-title badd">château du roi Restaurant</h5>
                <p class="card-text baddd">château du roi Restaurant & Lounge offers a unique dining experience in the day time and becomes the perfect night Loung....</p>
                <a href="#" class="btn fave">view more...</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>