<div class="footer">
    <div class="container sample">
      <div class="row justify-content-center mb-5">
        <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 mt-5 fry">
            <ul class="list-unstyled">
              <li class="mb-2"><a href="{% url 'index' %}">Home</a></li>
              <li class="mb-2"><a href="">Gallery</a></li>
              <li class="mb-2"><a href="">Dining</a></li>
              <li class="mb-2"><a href="">Our mission and vision</a></li>
              <li class="mb-2"><a href="{% url 'contacts' %}">Contact Us</a></li>
              <li class="mb-2"><a href="">Terms and condition</a></li>
              
            </ul>
        </div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-7 col-xl-7 mt-5">
          <h1 class="funds">Zhara's Hotel & Suite</h1>
            <ul class="list-unstyled">
              <li class="mb-3"><a href=""><span class="pe-3"><i class="fas fa-map"></i></span><span>Plot 1415 Adetokunbo Ademola Street, PMB 12724, Victoria Island, Lagos Nigeria</span></a></li>
              <li class="mb-3"><a href=""><span class="pe-3"><i class="fas fa-phone-alt"></i></span><span>+234 1 2772700-25 , +234 1 460610 (ext.6125, 6203, 6079, 6297, 6215, 6124)</span></a></li>
              <li class="mb-3"><a href=""><span class="pe-3"><i class="fas fa-fax"></i></span><span>Fax: +234 1 2704071</span></a></li>
              <li class="mb-3"><a href=""><span class="pe-3"><i class="fas fa-envelope"></i></span><span>sales@zharahotels.com, reservation@zharahotels.com, banquet@zharahotels.com</span></a></li>
            </ul>
        </div>
        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 mt-5">
          <!-- <h3 class="handle">Socials</h3> -->
          <ul class="list-inline">
            <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="border-top pt-3 pb-2 text-center footer1">
          <p>Copyright &copy; 2022 | Zhara's Hotel & Suites All Rights Reserved | Designed by: Auracule Software</p>
      </div>
    </div>
  </div>

