  
  {% extends 'base.html' %}

  {% block title %} | Home{% endblock title %}
  <!-- header -->
    <!-- navv1 -->
    {% block nav2 %}    {% include 'nav2.html' %}    {% endblock nav2 %}
    <!-- navv1 done -->

    <!-- navv1 -->
            {% block nav1 %}    {% include 'nav1.html' %}    {% endblock nav1 %}
    <!-- navv1 done -->

    <!-- carousel -->
            {% block carousel %}   {% include 'carousel.html' %}     {% endblock carousel %}
    <!-- carousel done -->

    <!-- welcomee  -->
            {% block welcome %}     {% include 'welcome.html' %}    {% endblock welcome %}
    <!-- welcomee done -->

    <!-- hotel -->
            {% block hotel %}    {% include 'hotel.html' %}   {% endblock hotel %}    
    <!-- hotel done -->

    <!-- recreational -->
            {% block recreational %}   {% include 'recreational.html' %}     {% endblock recreational %}
    <!-- recreational done -->

    <!-- dining -->
          {% block dining %}    {% include 'dining.html' %}    {% endblock dining %}       
    <!-- dining done -->

    <!-- gallery -->
        {% block gallery %}      {% include 'gallery.html' %}       {% endblock gallery %}              
    <!-- gallery done -->

    <!-- contact -->
              {% block contact %}   {% include 'contact.html' %}    {% endblock contact %}  
    <!-- contact done -->

    <!-- footer -->
              {% block footer %}    {% include 'footer.html' %}    {% endblock footer %}       
    <!-- footer done -->

