<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand fed" href="mailto:zharahotel@gmail.com">Zhara@gmail.com</a>
      <a class="navbar-brand fed" href="tel:+234 809-930-7066">+234 809-930-7066</a>
      <div class="toggle">
        <!-- <i class="fas fa-sun"></i> -->
        <i class="fas fa-moon"></i>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
      </div>
    </div>
  </nav>