{% extends 'base.html' %}

{% block title %} | Password{% endblock title %}

{% load static %}

{% block nav2 %}    {% include 'nav2.html' %}    {% endblock nav2 %} 

{% block nav1 %}    {% include 'nav1.html' %}    {% endblock nav1 %}     

{% block carousel %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 35vh;">
      <div class="carousel-item h-100 active">
        <img src="{% static '' %}img/sebastian-coman-photography-6CtMdQBhUiE-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block great">
          <h5 class="uus">Password</h5>
          <p class="fredus"><span class="gree">Home/</span> <span>Password</span></p>
        </div>
      </div>
    </div>
</div>

{% endblock carousel %}

{% block content %}
    <div class="container mb-5 mt-5">
        <div class="both">
            <h2 class="wel" data-aos="fade-up" data-aos-duration="3000"><span class="jem">{{profile.user.username}}'s' Profile</span></h2>
            <h6 class="horizon"></h6>
        </div>

        <div class="fantasia mb-5" data-aos="fade-up" data-aos-duration="3000">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
                        <img src="{{profile.img.url}}" alt="">
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5 pe-auto">
                        <div class="sform">
                            <form action="{% url 'profile_update' %}" method="POST">
                            {% csrf_token %}
                                {{form.as_p}}
                            </form>
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
                        <ul class="ms-5 mt-5 list-unstyled falz">
                        <li class="mb-4"><a href="{% url 'index' %}" class="btn btn-success w-75">Home</a></li>
                        <li class="mb-4"><a href="{% url 'rooms' %}" class="btn btn-success w-75">Rooms</a></li>
                        <li class="mb-4"><a href="{% url 'profile' %}" class="btn btn-success w-75">Profile</a></li>
                        <li class="mb-4"><a href="{% url 'profile_update' %}" class="btn btn-success w-75">Profile_update</a></li>
                        <li class="mb-4"><a href="{% url 'password' %}" class="btn btn-success w-75">Password Update</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
{% endblock content %}

{% block footer %}    {% include 'footer.html' %}    {% endblock footer %}       
