{% load static %}

 <div class="service">
    <div class="container">
      <div class="both">
        <h2 class="text-center wel"><span class="jay">Recreational </span> <span class="jem">Services</span></h2>
        <h6 class="horizon"></h6>
      </div>

      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 50vh;">
          <div class="carousel-item h-100 active">
            <div class="row justify-content-center">
              <div class="col-3 col-sm-3 col-md-5 col-lg-5 col-xl-5 d-flex">
                  <img src="{% static '' %}img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg"  class="w-75" alt="">
              </div>
              <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                <h3 class="text-white grow text-center wel">Gymnasium</h3>
                <p class="text-white d-none d-md-block gray">our well-equiped gym with suana rooms are accessible to our in-house fit fam junkies, and comes with an available instructor</p>
              </div>
            </div>
          </div>
          <div class="carousel-item h-100">
            <div class="row justify-content-center">
              <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5 d-flex">
                  <img src="{% static '' %}img/wang-xi-RTrZvGlvlQc-unsplash.jpg"  class="w-75" alt="">
              </div>
              <div class="col-10 col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h3 class="text-white grow text-center wel">Swimming Pool</h3>
                <p class="text-white d-none d-md-block gray">Additional peaks of being an in-house guest is to enjoy a day or night time swim. Access to the pool for outside guests are not an additional cost.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item h-100">
            <div class="row justify-content-center">
              <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5 d-flex">
                  <img src="{% static '' %}img/jared-rice-NTyBbu66_SI-unsplash.jpg"  class="w-75" alt="">
              </div>
              <div class="col-10 col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h3 class="text-white grow text-center wel">Spa</h3>
                <p class="text-white d-none d-md-block gray">You are invited to enjoy a varity of relaxing wellness treatment from massage to getting your hair and nails done. These pampering seasons gurantees a memorable stay with us.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item h-100">
            <div class="row justify-content-center">
              <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5 d-flex">
                  <img src="{% static '' %}img/andrei-shiptenko-OuisdiaZn68-unsplash.jpg"  class="w-75" alt="">
              </div>
              <div class="col-10 col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h3 class="text-white grow text-center wel">Basketball Court</h3>
                <p class="text-white d-none d-md-block gray">Enoy shooting at the court for more leisure time. Access to the court for outside guests are at an additional cost</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>