{% extends 'base.html' %}

{% block title %} | All Rooms {% endblock title %}

{% block nav2 %}    {% include 'nav2.html' %}    {% endblock nav2 %} 

{% block nav1 %}    {% include 'nav1.html' %}    {% endblock nav1 %}     

{% block carousel %}   {% include 'caros.html' %}     {% endblock carousel %}


{% block content %}
 <!-- content -->
 <div class="container mb-5 mt-5"> 
  <div class="both">
    <h2 class="wel"><span class="jem">Economy Rooms</span></h2>
    <h6 class="horizon"></h6>
  </div>
  <div class="fantasia mb-5">
    <div class="container">
      <div class="row justify-content-center">
        {% if economy %}
          {% for item in economy %}
            <div class="col-10 col-sm-10 col-md-6 col-lg-3 col-xl-3">
                <div class="card brad lola">
                    <img src="{{item.img_r.url}}" class="card-img-top" alt="...">
                    <div class="card-body lolabody">
                      <h5 class="card-title">{{item.name_r}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <a href="{% url 'room' item.slug %}" class="btn fave">View More....</a>
                    </div>
                  </div>
            </div>
          {% endfor %}
        {% endif %}        
      </div>
    </div>
  </div>
</div>
<div class="container mb-5 mt-5"> 
  <div class="both">
    <h2 class="wel"><span class="jem">Family Rooms</span></h2>
    <h6 class="horizon"></h6>
  </div>
  <div class="fantasia mb-5">
    <div class="container">
      <div class="row justify-content-center">
        {% if family %}
          {% for item in family %}
            <div class="col-10 col-sm-10 col-md-6 col-lg-3 col-xl-3">
                <div class="card brad lola">
                    <img src="{{item.img_r.url}}" class="card-img-top" alt="...">
                    <div class="card-body lolabody">
                      <h5 class="card-title">{{item.name_r}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <a href="{% url 'room' item.slug %}" class="btn fave">View More....</a>
                    </div>
                  </div>
            </div>
          {% endfor %}
        {% endif %}
                
      </div>
    </div>
  </div>
</div>
<div class="container mb-5 mt-5"> 
  <div class="both">
    <h2 class="wel"><span class="jem">Business class Rooms</span></h2>
    <h6 class="horizon"></h6>
  </div>
  <div class="fantasia mb-5">
    <div class="container">
      <div class="row justify-content-center">
        {% if business %}
          {% for item in business %}
            <div class="col-10 col-sm-10 col-md-6 col-lg-3 col-xl-3">
                <div class="card brad lola">
                    <img src="{{item.img_r.url}}" class="card-img-top" alt="...">
                    <div class="card-body lolabody">
                      <h5 class="card-title">{{item.name_r}}</h5>
                      <p class="card-text">{{item.description}}.</p>
                      <a href="{% url 'room' item.slug %}" class="btn fave">View More....</a>
                    </div>
                </div>
            </div>
          {% endfor %}
        {% endif %}   
      </div>
    </div>
  </div>
</div>
<div class="container mb-5 mt-5"> 
  <div class="both">
    <h2 class="wel"><span class="jem">Royal's Suites</span></h2>
    <h6 class="horizon"></h6>
  </div>
  <div class="fantasia mb-5">
    <div class="container">
      <div class="row justify-content-center">
        {% if royals %}
          {% for item in royals %}          
            <div class="col-10 col-sm-10 col-md-6 col-lg-3 col-xl-3">
                <div class="card brad lola">
                    <img src="{{item.img_r.url}}" class="card-img-top" alt="...">
                    <div class="card-body lolabody">
                      <h5 class="card-title">{{item.name_r}}</h5>
                      <p class="card-text">{{item.description}}.</p>
                      <a href="{% url 'room' item.slug %}" class="btn fave">View More....</a>
                    </div>
                </div>
            </div>    
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>


<!-- content done -->


{% endblock content %}

{% block footer %}    {% include 'footer.html' %}    {% endblock footer %}       






