{% extends 'base.html' %}

{% block title %} | Signin {% endblock title %}

{% load static %}

{% block nav2 %}    {% include 'nav2.html' %}    {% endblock nav2 %} 

{% block nav1 %}    {% include 'nav1.html' %}    {% endblock nav1 %}     

{% block carousel %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 35vh;">
      <div class="carousel-item h-100 active">
        <img src="{% static '' %}img/rob-laughter-WW1jsInXgwM-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block great">
          <h5 class="uus">Signin</h5>
          <p class="fredus"><span class="gree">Home/</span> <span>Signin</span></p>
        </div>
      </div>
    </div>
</div>


{% endblock carousel %}

{% block content %}      

<div class="container mb-5 mt-5">
    <div class="both">
      <h2 class="wel" data-aos="fade-up" data-aos-duration="3000"><span class="jem">Signin</span></h2>
      <h6 class="horizon"></h6>
    </div>

    <div class="fantasia mb-5" data-aos="fade-up" data-aos-duration="3000">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"></div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 pe-auto">
              <div class="sform">
                  <form action="{% url 'signin' %}" method="POST">
                  {% csrf_token %}
                      <div class="mb-3">
                          <label for="exampleInputText1" class="form-label">UserID</label>
                          <input type="text" name="username" class="form-control" id="exampleInputText1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">* UserID must contain at least 5 characters and 2 numbers. *</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                          <div id="emailHelp" class="form-text">*Password must contain at least 8 characters: alphabets, special characters and numbers.*</div>
                      </div>
                      <button type="submit" class="btn fave w-25">Sign-in</button>
                      <a href="{% url 'signup' %}" class="btn w-25 fave">Sign-up</a>
                    </form>
              </div>
          </div>
          <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"></div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}              

{% block footer %}    {% include 'footer.html' %}    {% endblock footer %}       
