{% extends 'base.html' %}

{% block title %} | Spa {% endblock title %}

{% load static %}


{% block nav2 %}    {% include 'nav2.html' %}    {% endblock nav2 %} 

{% block nav1 %}    {% include 'nav1.html' %}    {% endblock nav1 %}     

{% block carousel %}

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 40vh;">
      <div class="carousel-item h-100 active">
        <img src="{% static '' %}img/christin-hume-0MoF-Fe0w0A-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block great">
            <h5 class="uus">Spa</h5>
            <p class="fredus"><span class="gree">Home/ Recreational center</span> <span>/ Spa</span></p>
        </div>
      </div>
    </div>
  </div>

{% endblock carousel %}

{% block content %}

  <div class="container mb-5 mt-5"> 
    <div class="both">
      <h2 class="wel"><span class="jem">Spa</span></h2>
      <h6 class="horizon"></h6>
    </div>
    <div class="fantasia mb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2"></div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 pe-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" style="height: 100vh;">
                <div class="carousel-item h-100 active">
                  <img src="{% static '' %}img/ale-romo-CLiwQXx7kT8-unsplash.jpg" class="d-block w-100 kegg" alt="...">
                </div>
                <div class="carousel-item h-100">
                  <img src="{% static '' %}img/camille-brodard-VxAwTeiqDao-unsplash.jpg" class="d-block w-100 kegg" alt="...">
                </div>
                <div class="carousel-item h-100">
                  <img src="{% static '' %}img/alan-caishan-cU53ZFBr3lk-unsplash.jpg" class="d-block w-100 kegg" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"></div>
        </div>
      </div>
    </div>

    <p class="gbas">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.Lorem ipsum dolor sit amet,
       consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.</p>

    <p class="gbas">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.Lorem ipsum dolor sit amet,
       consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.</p>
  </div>



{% endblock content %}

{% block footer %}    {% include 'footer.html' %}    {% endblock footer %}       
