
{% load static %}
 <div class="container">
    <div class="both">
      <h1 class="text-center mt-5 text-uppercase wel" data-aos="fade-up" data-aos-duration="3000"><span class="jemm">Welcome to</span> <span class="jem">Zhara's Hotel</span></h1>
      <h6 class="horizon"></h6>
    </div>
    <div class="row justify-content-around abbtboxx1">
      <div class="col-10 col-sm-10 col-md-9 col-lg-8 col-xl-5 mb-3 pt-xl-5 abtbox" data-aos="zoom-in" data-aos-duration="3000">
        <div class="card w-100 border-0 pt-xl-4 bg-transparent abtcard">
          <img src="{% static '' %}img/drew.jpg" class="card-img-top mx-auto w-100 abtimg">
        </div>
      </div>
      <div class="col-10 col-sm-10 col-md-9 col-lg-9 col-xl-5 mb-5 abbtboxx" data-aos="fade-up" data-aos-duration="3000">
        <div class="card  border-0 w-100 shady">
          <div class="card-body w-100 py-5 p-5">
            <h3 class="well text-center" data-aos="flip-down" data-aos-duration="3000">The Most Preferred Hotel in West Africa</h3>
            <p class="welcome2" data-aos="fade-up-left" data-aos-duration="3000">Zhara's Hotels & Suites is the most preferred hotel in West Africa, and it is all about the
              right mix! Located in the heart of Victoria Island, we offer our clients a perfect blend
              of business & leisure amenities with dining and recreational options delicately
              infused in one amazing space.</p>
            <p class="welcome2"  data-aos="fade-up-right" data-aos-duration="3000">Overlooking the new Zhara's suite, it is just a 10-minute
                drive to the City Centre and only 45minutes away from the Airport</p>
            <p class="welcome2" data-aos="fade-down-left" data-aos-duration="3000">Our hotels are designed for your comfort and convenience. Your security is our
                  primary concern and you will find our customer care second to none.</p>
          </div>
        </div>
      </div>
    </div>
  </div>